@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor-menu: #A9D6E5;
    --cor-box-shadow: #464646;
    --cor-texto-menu: #000;
    --cor-botao-entrar: #fff;
    --cor-fundo: #fff;
    --cor-card: #fff;
    --cor-texto: #000;
    --cor-botao: #000;
    --cor-botao-hover: #333;
    --cor-cinza: #C1BDB8;
    --cor-cinza2: #d1cfcd;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}


html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

/* Estilo menu  */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--cor-menu);
    box-shadow: 0px 3px 10px var(--cor-box-shadow);
}

.nav-bar {
    background-color: var(--cor-menu);
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 6rem;
}

.nav-bar, .mobile-menu {
    width: 100%; /
}

.logo {
    display: flex;
    text-align: center;
}

.logo img {
    width: 64px;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 40px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: var(--cor-card);
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 40px;
}

.nav-link:hover {
        color: #000;
}

.login-button {
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    margin-top: 10px;
}

.login-button button {
    border: none;
    background-color: var(--cor-botao-entrar);
    padding: 8px 20px;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 40px;
}

.login-button button a {
    text-decoration: none;
    color: var(--cor-texto-menu);
    font-weight: 600;
    padding: 8px 20px;
}

.login-button button:hover {
    background-color: #000;
    color: #fff;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 600px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    
    .nav-item {
        display: none;
    }
    
    .login-button {
        display: none; 
    }
    
    .mobile-menu-icon {
        display: block; 
        align-self: center; 
        padding: auto;
    }
    
    .mobile-menu-icon button {
        background-color: transparent; 
        border: none; 
        cursor: pointer; 
    }
    
    .mobile-menu {
        display: none; 
    }
    
    .mobile-menu.open {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        padding-bottom: 1rem; 
    }
    
    .mobile-menu ul {
        display: flex; 
        flex-direction: column; 
        text-align: center; 
        padding: 0; 
        margin: 0; 
    }
    
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    
    .mobile-menu .login-button {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        padding: 1rem 0; 
        width: 100%; 
    }
    
    .mobile-menu .login-button button {
        width: 100%;
        max-width: 300px;
        padding: 10px; 
    }
    
    .open {
        display: block; 
    }
    
}

/* Estilo do hero */
section.hero-site {
    height: 100vh;
    background-image: url(../assets/img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-site .interface {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px; 
}

.hero-site .txt-hero h1 {
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
    color: #fff;
    margin-left: 40px;
}

.hero-site .txt-hero h1 span {
    display: block;
    font-weight: 800;
}

.hero-site .txt-hero p {
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
    color: #fff;
    margin-left: 40px;
    
}

.hero-site .txt-hero p span {
    display: block;
}

.hero-site button {
    width: 220px;
    height: 60px;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 40px;
}

.hero-site button:hover {
    background-color: #fff;
    color: #000;
}

@media (max-width: 768px) {
    section.hero-site {
        height: 100vh;
        background-image: url(../assets/img/hero.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-top: 100px;
    }

    .hero-site .txt-hero h1 {
        margin-top: 200px;
        font-size: 2em;
        line-height: 50px;
        margin-left: 20px;
        font-weight: 200;
    }

    .hero-site .txt-hero h1 span {
        display: block;
        font-weight: 350;
    }

    .hero-site .txt-hero p {
        font-size: 18px;
        margin-left: 20px;
        margin-top: 0;
    }

    .hero-site button {
        width: 180px;
        height: 50px;
        font-size: 18px;
        margin-left: 20px;
    }
}

@media (max-width: 480px) {
    .hero-site .txt-hero h1 {
        font-size: 2.5em;
        line-height: 40px;
        margin-left: 10px;
    }

    .hero-site .txt-hero p {
        font-size: 16px;
        margin-left: 10px;
    }

    .hero-site button {
        width: 150px;
        height: 40px;
        font-size: 16px;
        margin-left: 10px;
    }

    .hero-site .interface {
        flex-direction: column; /* Altera para coluna em telas menores */
        align-items: flex-start; /* Alinha itens à esquerda */
    }
}


/* Estilo sobre */
.sobre {
    padding: 2rem;
    background-color: #fff;
    color: #333;
}

.sobre h1 {
    margin-top: 45px;
    font-size: 2rem;
    margin-bottom: 45px;
    text-align: center;
}

.sobre p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 4rem;
    text-align: justify;
}

.conteinerSobre {
    margin-top: 20px;
    border-radius: 2.5%;
    padding: 1rem 2rem;
    background-color: #A9D6E5;
}

@media (max-width: 600px) {
    .sobre {
        padding: 1rem;
    }

    .sobre h1 {
        font-size: 1.5rem;
    }

    .sobre p {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .sobre h1 {
        font-size: 1.3rem;
    }

    .sobre p {
        font-size: 0.9rem;
    }
}

/* Estilo da sessão mais */
section.mais {
    padding: 80px 0;
    background-color: #6f8d97;
}

.txt-mais,
.instru-mais {
    display: inline-block;
    width: 45%;
    margin-right: -4px;
    vertical-align: top;
}

.mais .txt-mais {
    margin-top: 10%;
}

.mais .txt-mais h3 {
    font-size: 4em;
    line-height: 70px;
    font-weight: 300;
    color: #fff;
    align-items: center;
    margin-left: 20%;
}

.mais .txt-mais h3 span {
    display: block;
    font-weight: 700;
}

.instru-mais .instru-box {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    border: 2px solid #fff;
    padding: 20px;
}

.instru-mais .instru-box img {
    max-width: 50px;
}

.instru-mais .instru-box h4 {
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 10px;
    color: #fff;
}

.instru-mais .instru-box h4 span {
    font-weight: 300;
}

.instru-mais .instru-box p {
    line-height: 20px;
    color: #fff;
}

@media (max-width: 768px) {
    .txt-mais,
    .instru-mais {
        width: 100%;
        margin-right: 0;
        display: block;
    }

    .mais .txt-mais h3 {
        font-size: 2.5em;
        line-height: 40px;
        margin-left: 0;
        text-align: center;
        margin-bottom: 60px;
    }

    .instru-mais .instru-box {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
        margin: 15px;
    }

    .instru-mais .instru-box img {
        margin-bottom: 10px;
    }

    .instru-mais .instru-box h4 {
        font-size: 1.2em;
    }

    .instru-mais .instru-box p {
        line-height: 1.5;
    }
}

/* Estilo slide */

section.slider {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    padding: 0 !important;
    overflow: hidden;
    
}

.slider-content {
    width: 400%;
    height: auto;
    display: flex;
    padding-top: 130px;
}

.slider-content input,
.img-mobile {
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img {
    width: 100%;
}

.nav-manual,
.nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn,
.nav-auto div {
    border: 1px solid var(--cor-botao);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child),
.nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: var(--cor-botao);
}

#radio1:checked~.nav-auto .auto-btn1,
#radio2:checked~.nav-auto .auto-btn2,
#radio3:checked~.nav-auto .auto-btn3 {
    background-color: var(--cor-botao);
}

#radio1:checked~.primeiro {
    margin-left: 0%;
}

#radio2:checked~.primeiro {
    margin-left: -25%;
}

#radio3:checked~.primeiro {
    margin-left: -50%;
}

@media screen and (max-width: 900px) {
    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
    }

    .nav-auto,
    .nav-manual {
        margin-top: 120%;
    }
}

/* Estilo cards */
section.cards {
    margin: 0;
    padding: 40px;
    font-family: 'Inter', sans-serif;
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    padding-top: 10%;
}

.card {
    background-color: var(--cor-card);
    width: 300px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px var(--cor-box-shadow);
    overflow: hidden;
    text-align: center;
    margin: 16px;
    transition: transform 0.2s ease-in-out;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h1 {
    font-size: 1.5rem;
    color: var(--cor-texto);
    margin: 16px 0 8px;
}

.card span {
    font-size: 1.25rem;
    color: var(--cor-texto);
    margin-bottom: 16px;
    display: block;
}

.card button {
    background-color: var(--cor-botao);
    color: var(--cor-fundo);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 6px;
    margin-bottom: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: var(--cor-botao-hover);
}

@media (max-width: 600px) {

    .cards {
        padding: 25px;
    }

    .card {
        width: 100%;
        max-width: 300px;
    }
}

/* Estilo formulario */
section.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.container-formulario {
    text-align: center;
    padding: 20px;
    width: 400px;
    box-sizing: border-box;
    align-items: center;
}

.formulario {
    background-color: var(--cor-fundo);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px var(--cor-box-shadow);
    display: inline-block;
    text-align: left;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formulario button {
    background-color: var(--cor-botao);
    color: var(--cor-fundo);
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.formulario button:hover {
    background-color: var(--cor-botao-hover);
}

@media (max-width: 600px) {
    h1 {
        font-size: 30px;
    }

    .container {
        height: 60vh;
    }

    .container-formulario {
        width: 280px;
    }

    .formulario button {
        font-size: 14px;
        padding: 8px;
    }
}


/* Estilo footer-contato */

.contato {
    background-color: #fff;
    padding: 80px 0;
}

.txt-contato,
.icons-contato {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: middle;
}

.contato .txt-contato h3 {
    font-size: 2.5em;
    line-height: 50px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-left: 80px;
}

.contato .txt-contato h3 span {
    display: block;
    font-weight: 700;
}

.contato .icons-contato a {
    text-decoration: none;
}

.contato .icons-contato button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    width: 60%;
    height: 60px;
    margin: 0 auto 20px auto;
    background-color: transparent;
    background-color: var(--cor-card);
    cursor: pointer;
    transition: .5s;
}

.contato .icons-contato button i {
    font-size: 20px;
}

.contato .icons-contato button:hover {
    background-color: var(--cor-menu);
}

.contato .icons-contato button:hover i,
.contato .icons-contato button:hover p {
    color: var(--cor-botao);
}

.txtContato{
font-size: 12px;
color: var(--cor-box-shadow);
margin-top: 50px;
text-align: center;
}

@media (max-width: 600px) {
    .txt-contato,
    .icons-contato {
        width: 100%;
        margin-right: 0;
        display: block;
    }

    .contato .txt-contato h3 {
        font-size: 2em;
        line-height: 40px;
    }

    .contato .icons-contato button {
        padding: 0 30px;
        width: 80%;
        height: 50px;
        margin: 0 auto 20px auto;
    }

    .contato .icons-contato button:hover {
        background-color: #A9D6E5; /* Cor de hover fixa para teste */
    }
    
    .contato .icons-contato button:hover i,
    .contato .icons-contato button:hover p {
        color: var(--cor-botao);
    }
}
